.loading {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
  }
  
  .loading img {
    width: 25rem;
    height: 25rem;
  }
  
  @media (max-width: 500px) {
    .loading img {
      width: 15rem;
      height: 15rem;
    }
  }
  