.expenses {
  padding: 1rem;
  background-color: #0e050f;
  margin: 2rem auto;
  width: 50rem;
  margin-top: 6rem;
  max-width: 95%;
  margin-bottom: 4rem;
}
.expenses h1 {
  text-align: center;
}

.expenses .sort {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.5rem;
  margin: 1rem 1rem;
}
.expenses .sort label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.expenses .sort select {
  font: inherit;
  width: 2rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 6px;
}

.expenses .totalExpense {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  margin: 1rem 1rem;
}
