.navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 3.5rem;
  padding: 0.2rem 1.5rem;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgb(147, 136, 162);
  background: radial-gradient(
    circle,
    rgba(147, 136, 162, 1) 0%,
    rgba(52, 25, 72, 1) 100%
  );
}

.nav_mobile {
  display: none;
}
.nav_mobile h1 {
  font-size: 1.4rem;
}
.nav_mobile h2 {
  font-size: 1.1rem;
}
.navbar .logo {
  display: inline;
}

.navbar h2 {
  font-size: 1rem;
}

.navbar .elements {
  display: flex;
  font-size: 1.2rem;
  gap: 2rem;
  align-items: center;
}
.navbar .elements .link {
  text-decoration: none;
}
.navbar .elements .link:hover,
.navbar .elements .link:active,
.navbar .elements .link:link,
.navbar .elements .link:focus,
.navbar .elements .link:visited {
  text-decoration: none;
}

.navbar .elements i {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100%;
  gap: 0.5rem;
  flex-direction: column;
}
.navbar .elements i p {
  font-size: 0.6rem;
  letter-spacing: 0.2rem;
}

.navbar .elements .child {
  color: white;
  cursor: pointer;
}
.navbar .elements .child:hover {
  transform: scale(0.9);
}

.navbar .elements .child:active {
  color: rgba(147, 136, 162, 1);
  transform: scale(0.95);
}

@media (max-width: 630px) {
  .navbar {
    padding: 0.2rem 1rem;
  }
  .navbar h1 {
    font-size: 1.5rem;
  }
  .navbar .elements {
    gap: 1rem;
  }
}
@media (max-width: 520px) {
  .navbar {
    position: fixed;
    bottom: 0;
    top: auto;
  }
  .nav_mobile {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 3.5rem;
    padding: 0.2rem 1.5rem;
    align-items: flex-start;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
  }
  .navbar .logo {
    display: none;
  }
  .navbar .elements {
    width: 100%;
    gap: 0;
    justify-content: space-between;
  }
  .navbar .elements .time {
    display: none;
  }
}
